{% extends "base.html" %}
{% block title %}Sign-In{% endblock %}

{% block content %}

<!-- Flash Messages Section -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<form method="POST">
    <h3 align="center">
        Sign-In
    </h3>

    <div class="form-group">
        <label for="email">Email</label>
        <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
        />
        <label for="password">Password</label>
        <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
        />
        <div style="margin-top: 10px;">
            <a href="{{ url_for('auth.forgot_password') }}">Forgot Password?</a>
        </div>
        <br/>
        <div align="center">
            <button class="btn btn-primary", type="submit">Sign-In</button>
        </div>
    </div>
</form>

{% endblock %}
